<!DOCTYPE html>
<html>

<head>
  <title>Filter Result</title>
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<h1>Welcome to Weather Forecast App</h1>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<body>
  <h2>Weather of <strong><%= results.city%></strong> in 
        <strong><%= results.hours%></strong> hours:</title></h2>
  <table>
    <tr>
      <th>City</th>
      <th><%= results.city %></th>
    </tr>
    <tr>
      <th>Weather</th>
      <td><%= results.weather %></td>
    </tr>
    <tr>
      <td>Temperature (&#176;C)</td>
      <td><%= results.temp %></td>
    </tr>
    <tr>
      <tr>
      <td>Feel like (&#176;C)</td>
      <td><%= results.temp_feel %></td>
    </tr>
    <tr>
      <tr>
      <td>Humidity</td>
      <td><%= results.humidity %></td>
    </tr>
    <tr>
      <tr>
      <td>Wind</td>
      <td><%= results.wind %></td>
    </tr>
    <tr>
      <tr>
      <td>Visibility</td>
      <td><%= results.visibility %></td>
    </tr>
    </tr>
  </table>
</body>

</html>