<!DOCTYPE html>
<html>

<head>
  <title>Weather Forecast</title>
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<h1>Welcome to Weather Forecast App</h1>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<body>
  <h2>Current weather</h2>
  <table>
    <tr>
      <th>City</th>
      <th>Weather</th>
      <th>Temperature(&#176;C)</th>
      <th>Feels like(&#176;C)</th>
    </tr>
    <% for (var row of current) {%>
    <tr>
      <td><%= row.city %></td>
      <td><%= row.weather %></td>
      <td><%= row.temp %></td>
      <td><%= row.temp_feel %></td>
    </tr>
    <% } %>
  </table>
</br>
<form method="POST" action='/filter-results'>
  I would like to know the weather in 
      <select id="city" name="city">
        <% for (var row of current) { %>
          <option value='<%= row.city %>'><%= row.city %></option>
        <% } %>
      </select>
      in approximately 
      <select id="hours" name="hours">
        <% for (var i = 1; i <= 16; ++i) { %>
          <option value='<%= i%>'><%=i * 3 %></option>
        <% } %>
      </select>
      hours
    <button>Check out weather!</button>
</form>

</body>

</html>